<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="mementos" type ="ATTi.Core.Mementos.MementosConfigurationSection,ATTi.Core"/>
	</configSections>
	<mementos>
		<helpers>
			<add type="System.Collections.Generic.Dictionary`2" helper="ATTi.Core.Mementos.Helpers.DictionaryMementoHelper`2, ATTi.Core" />
		</helpers>
	</mementos>	
</configuration>