<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="messagebus" type="ATTi.Core.MessageBus.Configuration.MessageBusConfigurationSection, ATTi.Core.MessageBus"/>
	</configSections>
	<messagebus>
		<connections>
			<!--<add name="default" virtualHost="tmail" userName="svc_TMailWebService" password="P4ssw0rd">-->
			<add name="default">
				<endpoints>
					<add uri="amqp://rabbit5.np.wc1.yellowpages.com:5672" protocol="AMQP_0_8" />
				</endpoints>
			</add>
		</connections>
		<exchanges>
			<add name="RED-queue-exchange"
					 exchangeType="direct"
					 isPassive="false"
					 isInternal="false"
					 isDurable="true"
					 isAutoDelete="true"
					 noWait ="false"
							 />
		</exchanges>
		<queues>
			<add name="default" queueName="RED-queue" exchangeName="RED-queue-exchange"
					 isPassive="false"
					 isExclusive="false"
					 isDurable="true"
					 isAutoDelete="true"
					 noWait ="false"
							 />
		</queues>
	</messagebus>
</configuration>