<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>				
		<section name="wireup" type ="ATTi.Core.Wireup.WireupConfigurationSection,ATTi.Core"/>
		<section name="tmail" type="ATTi.TMail.Service.Implementation.Configuration.TMailConfigurationSection, ATTi.TMail.Service.Implementation"/>
		<section name="strongMail" type="ATTi.TMail.Service.Implementation.Configuration.StrongMailConfigurationSection, ATTi.TMail.Service.Implementation"/>
		<section name="messagebus" type="ATTi.Core.MessageBus.Configuration.MessageBusConfigurationSection, ATTi.Core.MessageBus"/>
		<section name="lwes" type="Org.Lwes.Config.LwesConfigurationSection, Org.Lwes"/>
	</configSections>
	<connectionStrings>
		<add name="tmail-data" providerName="System.Data.SqlClient"
				 connectionString="Data Source=tmail;Initial Catalog=TMail;Integrated Security=SSPI;MultipleActiveResultSets=True;Pooling=True;"/>
	</connectionStrings>
	<tmail submissionMode="DirectToStrongMail" />
	<strongMail messageStudioApiUrl="https://mailhub1.yellowpages.com/sm/services/mailing/2009/03/02"
							easTransactionalApiUrl="http://mailhub1.yellowpages.com:9000/SOAP/sm_tmailing"
							easBatchApiUrl="http://mailhub1.yellowpages.com:9000/SOAP/sm-client-v2"
							userName="apiuser"
							password="Ap1user"
							/>
	<wireup>
		<assemblies>
			<add assembly="ATTi.TMail.Service.Implementation" />
		</assemblies>				
	</wireup>
	<messagebus>
		<connections>
			<add name="tmail-connection" virtualHost="tmail" userName="svc_TMailWebService" password="P4ssw0rd">
				<endpoints>
					<add uri="amqp://rabbit5.np.wc1.yellowpages.com:5672" protocol="AMQP_0_8" />
					<add uri="amqp://rabbit6.np.wc1.yellowpages.com:5672" protocol="AMQP_0_8" />
				</endpoints>
			</add>
		</connections>
		<exchanges>
			<add name="tmail-exchange"
					 exchangeType="topic"
					 isPassive="false"
					 isInternal="false"
					 isDurable="true"
					 isAutoDelete="true"
					 noWait ="false"
							 />
		</exchanges>
		<queues>
			<add name="tmail-queue" queueName="tmail-queue" exchangeName="tmail-exchange"
					 isPassive="false"
					 isExclusive="false"
					 isDurable="true"
					 isAutoDelete="true"
					 noWait ="false"
							 />
		</queues>
	</messagebus>
	<lwes>
		<emitters>
			<add name="default"
					 multicastTimeToLive="1" />
		</emitters>
	</lwes>
</configuration>